body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  background-color: #f1f1f1;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
header {
  background-color: #f08080;
  padding: 30px;
}
header h1 {
  text-align: center;
  font-size: 60px;
  color: #000000;
  margin: 1.5 0px;
}

h2 {
  color: #000000;
  margin: 1.5 0px;
}
.left-column {
  float: left;
  width: 75%;
}
.thumbnail:hover {
  position: relative;
  top: -25px;
  left: -35px;
  width: 100px;
  height: auto;
  display: block;
  z-index: 999;
}
.right-column {
  width: 25%;
  float: right;
  padding-left: 20px;
}
.card {
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
}

.card img {
  width: 80%;
}

.right-column .card img {
  margin-bottom: 10px;
}

footer {
  background-color: #f08080;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

/*responsive */

@media (max-width: 800px) {
  .left-column,
  .right-column {
    width: 100%;
    padding: 0px;
  }
}
/* Style the Sticky icons on web page */
.stickyicon-list {
  position: fixed;
  top: 200px;
  transform: translateY(-50%);
}
.stickyicon-list a {
  display: block;
  text-align: center;
  padding: 8px;
  transition: all 0.5s ease;
  color: white;
  font-size: 20px;
}
/* HOver affect on sticky social media icons */
.stickyicon-list a:hover {
  color: #000;
  width: 10px;
}

/* Now we have to design each icon of social media */
.facebook {
  background: #3b5998;
  color: white;
}
.twitter {
  color: white;
  background: #00acee;
}
.linkedin {
  background: #0e76a8;
  color: white;
}
.google {
  color: white;
  background: #db4a39;
}
.instagram {
  background: #3f729b;
  color: white;
}
.youtube {
  color: white;
  background: #c4302b;
}
